
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
  }
  
  /* Space out content a bit */
  *{
    font-family: 'Open Sans', sans-serif;
    src: url("fonts/OpenSans-Regular.ttf") format("truetype");
  }
  body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: #e6eff3;
    
  }
  .container {
     max-width: 100%;
  }
  /* Everything but the jumbotron gets side spacing for mobile first views */
  .header,
  .marketing,
  .footer {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  
  /* Custom page header */
  .header {
    padding-bottom: 1rem;
    border-bottom: .05rem solid #e5e5e5;
  }
  
  /* Make the masthead heading the same height as the navigation */
  .header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 3rem;
  }
  
  /* Custom page footer */
  .footer {
    padding-top: 1.5rem;
    color: #777;
    border-top: .05rem solid #e5e5e5;
  }
  
  /* Customize container */
  @media (min-width: 48em) {
    .container {
      // max-width: 46rem;
  
    }
  }
  .container-narrow > hr {
    margin: 2rem 0;
  }
  
  /* Main marketing message and sign up button */
  .jumbotron {
    text-align: center;
    border-bottom: .05rem solid #e5e5e5;
  }
  .jumbotron .btn {
    padding: .75rem 1.5rem;
    font-size: 1.5rem;
  }
  
  /* Supporting marketing content */
  .marketing {
    margin: 3rem 0;
  }
  .marketing p + h4 {
    margin-top: 1.5rem;
  }
  .nav-pills .nav-link{
    color: #000;
  }

  
  .panel-swatch {
    display: inline-block;
    vertical-align: top;
    margin: 15px 10px;
    width: 105px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
}

.panel-swatch .panel-body {
    padding: 10px 5px;
    background-color: #fff;
}

.panel-swatch .panel-body p {
    font-size: 11px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    color: #636466;
}

.panel-swatch .panel-heading {
    width: 100%;
    height: 100px;
    border: none;
    border: 1px solid #eee;
}
  


/*LEFT MENU*/
#sidebar-wrapper {
    height: 100%;
    background: #1a1a1a;
    min-height: 400px;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.navbar{
    padding: 0; 
}
#sidebar{
    width: 20%;
}
#component-placeholder{
    width: 80%;
    position: relative;
    padding: 0 20px;
}
.sidebar-nav {
    position: absolute;
    top: 0;
    // width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;    
}

.sidebar-nav li {
    position: relative; 
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}
.sidebar-nav li:first-child a {
    color: #fff;
    background-color: #1a1a1a;
}

.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 5px 5px 5px 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}

  /* Responsive: Portrait tablets and up */
  @media screen and (min-width: 48em) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
      padding-right: 0;
      padding-left: 0;
    }
    /* Space out the masthead */
    .header {
      margin-bottom: 2rem;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
      border-bottom: 0;
    }
    .sidebar-nav li a {
        padding: 8px 15px 8px 30px;    
    }
  
  }