.text-os-regular{
    font-family: $font-family-open-sans;
    src: url("/fonts/OpenSans-Regular.ttf") format("truetype");    
    font-weight: $regular;
}
.text-os-semi-bold{
    font-family: $font-family-open-sans;
    src: url("/fonts/OpenSans-SemiBold.ttf") format("truetype");    
    font-weight: $semi-bold;
}
.text-os-bold{
    font-family: $font-family-open-sans;
    src: url("/fonts/OpenSans-Bold.ttf") format("truetype");    
    font-weight: $bold;
}
.text-x-large{
    font-size: $x-large;
}
.text-large{
    font-size: $large;
}
.text-medium{
    font-size: $medium;
}
.text-small{
    font-size: $small;
}
.text-x-small{
    font-size: $x-small;
}
.text-xx-small{
    font-size: $xx-small;
}