/* ----------------- Colors ----------------- */

// --------------------------------------------------
//
// DIRECTORY
// ------------------------------------
//	Colors
//	1.0 Text colors
//	2.0 Background colors
// ------------------------------------
// 1.0 Text Colors

.green {
    color: $green !important;
}

.dark-green {
   // color: $dark-green !important;
}

.blue {
    color: $blue !important;
}

.light-gray {
    color: $light-gray !important;
}

.medium-gray {
    color: $medium-gray !important;
}

.gray {
    color: $gray !important;
}

.white {
    color: $white !important;
}

.black {
    color: $black !important;
}

.bg-green {
    background-color: $green !important;
}

.bg-blue {
    background-color: $blue !important;
}

.bg-light-gray {
    background-color: $light-gray !important;
}

.bg-medium-gray {
    background-color: $medium-gray !important;
}

.bg-gray {
    background-color: $gray !important;
}

.bg-white {
    background-color: $white !important;
}

.bg-black {
    background-color: $black !important;
}