$font-family-open-sans: 'Open Sans';

//Regular
@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}
//Bold
@font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
}
//SemiBold
@font-face {
    font-family: 'Open Sans';
    font-weight: 600;
    src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
}
