<section class="section medium">
        <div class="container">
            <h1>Typography</h1>

            <table class="table">
                    <tbody>
                        <tr>
                            <td style="vertical-align:middle;" width="40%">
                                <h3><u class="text-large"> Font Weights</u><br /> 
                                    <br /> <b>h3. bold Heading</b> 
                                    <br /> <i> h3. italic Heading</i>
                                    <br /> <span class="text-os-regular">h3. OpenSans Regular </span> 
                                    <br /> <span class="text-os-semi-bold">h3. OpenSans SemiBold </span>
                                    <br /> <span class="text-os-bold">h3. OpenSans Bold </span></h3>
                                    <br/><br /> 
                                <div><u class="text-large">Font Sizes</u><br /> 
                                    <br /> <span class="text-x-large">div. OS x-large text</span> 
                                    <br /> <span class="text-large">div. OS large text</span>
                                    <br /> <span class="text-medium">div. OS medium text</span>
                                    <br /> <span class="text-small">div. OS small text</span>
                                    <br /> <span class="text-x-small">div. OS x-small text</span>
                                    <br /> <span class="text-xx-small">div. OS xx-small text</span></div>                                    
                                    
                            </td>
                            <td align="right" style="vertical-align:middle;" width="60%"><code>&lt;h3&gt; text &lt;/h3&gt;</code>
                                <br />
                                <br /> <code>&lt;h3&gt; &lt;b&gt; text &lt;/b&gt; &lt;/h3&gt;</code>
                                <br />
                                <br /> <code>&lt;h3&gt; &lt;i&gt; text &lt;/i&gt; &lt;/h3&gt;</code>
                                <br />
                                <br /> <code>&lt;h3&gt; &lt;span class="text-os-regular"&gt; text &lt;/span&gt; &lt;/h3&gt;</code>
                                <br />
                                <br /> <code>&lt;h3&gt; &lt;span class="text-os-semi-bold"&gt; text &lt;/span&gt; &lt;/h3&gt;</code>
                                <br />
                                <br /> <code>&lt;h3&gt; &lt;span class="text-os-bold"&gt; text &lt;/span&gt; &lt;/h3&gt;</code>
                                <br />
                                <hr>
                                <br /> <code>&lt;div&gt; &lt;span class="text-x-large"&gt; text &lt;/span&gt; &lt;/div&gt;</code>
                                <br />
                                <br /> <code>&lt;div&gt; &lt;span class="text-large"&gt; text &lt;/span&gt; &lt;/div&gt;</code>
                                <br />
                                <br /> <code>&lt;div&gt; &lt;span class="text-medium"&gt; text &lt;/span&gt; &lt;/div&gt;</code>
                                <br />
                                <br /> <code>&lt;div&gt; &lt;span class="text-small"&gt; text &lt;/span&gt; &lt;/div&gt;</code>
                                <br />
                                <br /> <code>&lt;div&gt; &lt;span class="text-x-small"&gt; text &lt;/span&gt; &lt;/div&gt;</code>
                                <br />
                                <br /> <code>&lt;div&gt; &lt;span class="text-xx-small"&gt; text &lt;/span&gt; &lt;/div&gt;</code>
                            </td>
                        </tr>
                        </tbody>
                </table>
        </div>
    </section>