<!-- Sidebar -->
<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">
        <li>
            <a id="gsap-home" href="#">Home</a>
        </li>
        <li>
            <a id="gsap-color-palette" href="#">Color Palette</a>
        </li>
        <li>
            <a id="gsap-typography" href="#">Typography</a>
        </li>
        <li>
            <a id="gsap-link" href="#">Link</a>
        </li>
        <li>
            <a id="gsap-button" href="#">Button</a>
        </li>
        <li>
            <a id="gsap-dropdown" href="#">Dropdown</a>
        </li>
        <li>
            <a id="gsap-callout" href="#">Callout</a>
        </li>
        <!-- <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Works <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
            <li class="dropdown-header">Dropdown heading</li>
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
            </ul>
        </li> -->

    </ul>
</nav>
<script >
  $( '#sidebar-wrapper li a' ).on('click', function(){
     $('#component-placeholder').load( 'templates/'+$(this)[0].id+'.html' );    
 }); 
</script>